.checkbox {
    box-sizing: border-box;
    margin: 8px 25px 5px 15px;
    height: 30px;
    width: 100px;
    text-align: center;
    background-color: #eecb40;
    border-radius: 3px;
    border: 1px solid #b3982e;
}
