.app {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #575757;
}
